* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.carousel-inner img {
    width: 100%;
}

.carousel-indicators {
    position: absolute !important;
    bottom: 0% !important;
}

.carousel-btn-links {
    width: 80%;
    margin: auto;
    margin-left: 4%;
}
.carousel-caption .btn-primary {

}
.carousel-caption .btn-success {
    margin-left: 7%;
}



/* GALLERY */
section.gallery {
    position: relative;
    width: 96.5vw;
    height: 85vh;
    background: lightblue;
}

section.gallery .image-1 {
    position: absolute;
    width: 50%;
    height: 47%;
    left: 1%;
    top: 2%;
    background: url(media/grad-speech-desktop.png);
}
section.gallery .image-2 {
    position: absolute;
    width: 22%;
    height: 47%;
    left: 53%;
    top: 2%;
    background: url(/media/grad-happiness-desktop.png);
}
section.gallery .image-3 {
    position: absolute;
    position: absolute;
    width: 22%;
    height: 47%;
    left: 76.5%;
    top: 2%;
    background: url(media/graduated-boy-desktop-red.png) center/cover no-repeat;
}
section.gallery .image-4 {
    position: absolute;
    width: 25%;
    height: 47%;
    left: 1%;
    bottom: 2%;
    background: url(media/duo-grad-photo-deskto.png)
}
section.gallery .image-5 {
    position: absolute;
    width: 43.5%;
    height: 47%;
    left: 27.5%;
    bottom: 2%;
    background: url(media/teacher-kids-grouplearning-desktop.png)
}
section.gallery .image-6 {
    position: absolute;
    width: 25.7%;
    height: 47%;
    right: 1.5%;
    bottom: 2%;
    background: url(media/thrown-grad-hat-desktop.png) center/cover no-repeat;
}


/* Media Queries for mobile screen */
@media (max-width: 768px) {
    section.gallery {
        position: relative;
        width: 96.5vw;
        height: 85vh;
        background: lightblue;
    }
    
    section.gallery .image-1 {
        position: absolute;
        width: 65%;
        height: 29%;
        left: 2%;
        top: 1%;
        background: url(media/group-grad-girls-redrobes-mob.png) center;
    }
    section.gallery .image-2 {
        position: absolute;
        width: 30%;
        height: 65%;
        left: 68%;
        top: 1%;
        background: url(/media/graduated-boy-mobile-red.png) center;
    }
    section.gallery .image-3 {
        position: absolute;
        width: 30%;
        height: 34%;
        left: 2%;
        top: 32%;
        background: url(media/medal-award-mob.png) center;
    }
    section.gallery .image-4 {
        position: absolute;
        width: 32%;
        height: 34%;
        left: 34%;
        top: 32%;
        background: url(media/certificate-mob.png)
    }
    section.gallery .image-5 {
        position: absolute;
        width: 37%;
        height: 30%;
        left: 2%;
        bottom: 2%;
        background: url(media/trophies-mob.png) center;
    }
    section.gallery .image-6 {
        position: absolute;
        width: 56%;
        height: 30%;
        left: 42%;
        bottom: 2%;
        background: url(media/interactive-class-mob.png) center/cover no-repeat;
    }
}





/* Above Footer (Contact Us form area */
.contact-form span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contact-form span i {
    color: rgb(96, 170, 255);
    margin-right: 1em;
}
.contact-form span h3 {
    align-self: center;
    justify-self: center;
    margin-top: 10px;
}
/* Google maps & Iframe */
.google-map {
    display: flex;
    justify-content: center;
}
iframe {
    width: 100%;
    padding-top: 1em;
}


/* Footer  */
footer {
    background-color: rgb(2, 1, 46);
    color: rgb(231, 231, 231);
}
footer .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-widget {
    padding-top: 1em;

}

.newsletter .form-group {
    padding-right: 10%;
}
.newsletter input[type="email"] {
    display: block;
    width: 100%;
    border: none;
    padding: 4px 6px;
    border-radius: 5px;
    color: gray;
    margin-top: 15px;
    margin-bottom: -4px;
}
.newsletter input[type="email"]:focus {
    outline: none;
}

.newsletter button[type="submit"] {
    display: block;
    width: 100%;
    color: black;
    background: lightgreen;
    border: 1px solid green;
    border-radius: 29px;
    padding: 4px 0;
}
.newsletter button[type="submit"]:hover {
    background: transparent;
    border: 1px solid whitesmoke;
    color: whitesmoke;
}


.pages ul {
    list-style-type: none;
}

footer a {
    color:rgb(4, 159, 206);
}
footer a:hover {
    color: rgb(192, 238, 228);
    text-decoration: none;
}

hr {
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
footer-footer {
    padding-bottom: 0.57em;
}
/* 
@media (max-width: 500px) {
    .carousel-inner {
        height: 50vh;
    }
}
@media (max-width: 700px) {
    .carousel-inner {
        height: 60vh;
    }
} */